:root {
    --azul-mais-escuro: #032940;
    --azul-intermediario: #085A8C;
    --azul-claro: #0FB2F2;
    --azul-quase-preto: #021C26;
    --azul-esverdeado: #3DF2E0;

    --fonte: "Poppins", sans-serif;
}

body {
    background-color: var(--azul-quase-preto);
}

.stats {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin-bottom: 100px;
    background-color: #021C26;
}

h1 {
    width: 100%;
    font-size: 45px;
    display: flex;
    justify-content: center;
    font-weight: 800;
    color: white;
}

.table_component {
    width: 100%;
}

.table_component table {
    border: 2px solid #000000;
    width: 100%;
    height: fit-content;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 2px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 2px solid #000000;
    background-color: #085A8C;
    color: #ffffff;
    padding: 5px;
}

.table_component td {
    border: 2px solid #000000;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}