@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --azul-mais-escuro: #032940;
    --azul-intermediario: #085A8C;
    --azul-claro: #0FB2F2;
    --azul-quase-preto: #021C26;
    --azul-esverdeado: #3DF2E0;

    --fonte: "Poppins", sans-serif;
}

* {
    font-family: var(--fonte);
    margin: 0;
    padding: 0;
}

body, html {
    background-color: var(--azul-quase-preto);
}

header {
    display: flex;
    justify-content: flex-end;
    gap: 10%;

    padding-top: 20px;
    position: fixed;
}

header nav {
    display: flex;
    align-items: center;
}

.links-nav-bar {
    list-style-type: none;

    display: flex;
    gap: 25px;

    margin: 0;
}

.links-nav-bar a {
    text-decoration: none;
    color: white;
}

.search-button {
    background-color: white;
    width: 47px;
    height: 47px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

footer {
    background-color: var(--azul-mais-escuro);
    height: 300px;
}