
.maratonas {
    height: 900px;
    color: white;
    background-color: rgba(128, 128, 128, 0.164);
    display: flex;
    justify-content: center;
}
.maratonas-container {
    margin: 30px;
    height: calc(100% - 60px);
    width: calc(100vw - 60px);
    background-color: var(--azul-mais-escuro);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1320px;
    padding: 40px 0;
}
.maratonas-cards {
    height: 31%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.maratonas-cards:nth-child(2) {
    text-align: end;
}
.imgs-maratona {
    height: 100%;
    width: 450px;
    background-color: red;
}
.maratonas-text {
    width: 60%;
}
#img-1 {
    background-image: url(../../imagens/maratona2017.png);
    background-size: cover;
}
#img-2 {
    background-image: url(../../imagens/maratona2018.png);
    background-size: cover;
}
#img-3 {
    background-image: url(../../imagens/maratona2019.png);
    background-size: cover;
}